<ul id="main-menu-bar" class="menubar ui-layout-north">
  <li>
    <a href="#File">File</a>
    <ul>
      <li><a href="#NewFile" data-event="ClearWorkspace">New</a></li>
      <li><a href="#OpenFile" data-event="OpenFile">Open</a></li>
      <li><a href="#SaveFile" data-event="SaveFile">Save</a></li>
    </ul>
  </li>
  <li>
    <a href="#Edit">Edit</a>
    <ul>
      <li><a href="#AutoLayout" data-event="AutoLayout">AutoLayout</a></li>
      <li><a href="#GroupSelectedNodes" data-event="GroupSelectedNodes">Group selected nodes</a></li>
    </ul>
  </li>
  <li>
    <a href="#View">View</a>
    <ul>
      <li><a href="#Library" data-event="ToggleLibrary">Library</a></li>
      <li><a href="#Attributes" data-event="ToggleAttributes">Attributes</a></li>
    </ul>
  </li>
  <li class="expanded">
    <a href="#examples">Examples</a>
    <ul>
      <li><a href="#example/rotating_cube1.json">Eagle Eye</a></li>
      <li><a href="#example/geometry_and_material1.json">VVR</a></li>
    </ul>
  </li>
</ul>
